<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		.foo, .bar {
			padding : 10px;
		}
		.foo {
			background : lightblue;
		}
		.bar {
			background : pink;
		}
	</style>
	<script data-main="src/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
</head>
<body>

<div id='app'></div>

<script id='foo-template' type='text/template'>
	<div class='foo'>
		<h1>Hello Foo</h1>
		<a href='bar' data-internal>go to bar</a>
		<p><%= foo %></p>
	</div>
</script>

<script id='bar-template' type='text/template'>
	<div class='bar'>
		<h1>This is Bar</h1>
		<a href='' data-internal>go to foo</a>
		<p><%= bar %></p>
	</div>
</script>

</body>
</html>
